{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# brew
/* brew bundle install */

# n, npm, node
/* curl -L https://bit.ly/n-install | bash -s -- -y */

# rust
/* curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh */

# oh-my-zsh
/* sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" */

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install ripgrep
{{ end -}}