{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
source ~/.zprofile
source ~/.zshenv
source ~/.zshrc

# brew
brew bundle install || echo "Brew installation failed"
brew tap homebrew/cask-fonts && brew install font-hack-nerd-font || echo "Brew installation of Nerd Font failed"
sudo chown -R $(whoami) $(brew --prefix)/* || echo "failed to change owner of brew folders"

# n, npm, node
curl -L https://bit.ly/n-install | bash -s -- -y || echo "n installation failed"

# rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh || echo "rust installation failed"

# oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" || echo "oh-my-zsh installation failed"
git clone https://github.com/zsh-users/zsh-autosuggestions.git $ZSH_CUSTOM/plugins/zsh-autosuggestions || echo "installation of zsh-autosuggestions failed"
git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_CUSTOM/plugins/zsh-syntax-highlighting || echo "installation of zsh-syntax-highlighting failed"
git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k || echo "installation of powerlevel10k failed"


# vim vundle
git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
# create folders for vim swaps
mkdir ~/tmp ~/tmp/backup ~/tmp/swap || echo "already exists"

{{ else if eq .chezmoi.os "linux" -}}
# linux
{{ else }}
# other operating system
{{ end }}